n8n/workflows/01-entrada-webhook-receiver.json
{
  "name": "01 — Entrada: Webhook Receiver (Pagtrust)",
  "active": false,
  "nodes": [
    {
      "id": "w1-note-001",
      "name": "Nota — Configuração",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 60],
      "parameters": {
        "content": "## Fluxo 01 — Webhook Receiver\n\n**Credencial necessária:** Supabase — jornada_alunos\n**Configurar em:** Settings → Credentials → Add → Supabase\n\n**Lógica aluno (upsert manual):**\n1. Tenta criar → se 409 (já existe), busca o aluno existente\n2. Merge garante que o id do aluno sempre segue para a transação\n\n**URL do webhook:**\nhttps://[seu-n8n]/webhook/pagtrust",
        "height": 200,
        "width": 760
      }
    },
    {
      "id": "w1-node-001",
      "name": "Pagtrust — Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 380],
      "webhookId": "pagtrust-entrada-001",
      "parameters": {
        "httpMethod": "POST",
        "path": "pagtrust",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "w1-node-002",
      "name": "Normalizar Campos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 380],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "nome",
              "type": "stringValue",
              "stringValue": "={{ $json.body.data.buyer.name }}"
            },
            {
              "name": "whatsapp",
              "type": "stringValue",
              "stringValue": "={{ $json.body.data.buyer.checkout_phone.toString().replace(/\\D/g, '') }}"
            },
            {
              "name": "email",
              "type": "stringValue",
              "stringValue": "={{ $json.body.data.buyer.email }}"
            },
            {
              "name": "order_id",
              "type": "stringValue",
              "stringValue": "={{ $json.body.data.purchase.transaction }}"
            },
            {
              "name": "valor",
              "type": "numberValue",
              "numberValue": "={{ $json.body.data.purchase.full_price.value }}"
            },
            {
              "name": "status",
              "type": "stringValue",
              "stringValue": "={{ $json.body.data.purchase.status }}"
            },
            {
              "name": "event",
              "type": "stringValue",
              "stringValue": "={{ $json.body.event }}"
            },
            {
              "name": "produto",
              "type": "stringValue",
              "stringValue": "={{ $json.body.data.product.name }}"
            },
            {
              "name": "dados_raw",
              "type": "objectValue",
              "objectValue": "={{ $json.body }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "w1-node-003",
      "name": "Supabase — Create Aluno",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 380],
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "create",
        "tableId": "alunos",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "nome",     "fieldValue": "={{ $json.nome }}" },
            { "fieldId": "whatsapp", "fieldValue": "={{ $json.whatsapp }}" },
            { "fieldId": "email",    "fieldValue": "={{ $json.email }}" }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase — jornada_alunos"
        }
      }
    },
    {
      "id": "w1-node-005",
      "name": "Aluno Criado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 380],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-aluno-id",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "w1-node-006",
      "name": "Supabase — Buscar Aluno",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1120, 520],
      "parameters": {
        "operation": "getAll",
        "tableId": "alunos",
        "returnAll": false,
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp",
              "condition": "eq",
              "keyValue": "={{ $('Normalizar Campos').item.json.whatsapp }}"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase — jornada_alunos"
        }
      }
    },
    {
      "id": "w1-node-007",
      "name": "Merge — Aluno",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1340, 380],
      "parameters": {
        "mode": "append",
        "options": {}
      }
    },
    {
      "id": "w1-node-004",
      "name": "Supabase — Create Transação",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1560, 380],
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "create",
        "tableId": "transacoes",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "order_id",  "fieldValue": "={{ $('Normalizar Campos').item.json.order_id }}" },
            { "fieldId": "aluno_id",  "fieldValue": "={{ $json.id }}" },
            { "fieldId": "valor",     "fieldValue": "={{ $('Normalizar Campos').item.json.valor }}" },
            { "fieldId": "status",    "fieldValue": "={{ $('Normalizar Campos').item.json.status }}" },
            { "fieldId": "dados_raw", "fieldValue": "={{ $('Normalizar Campos').item.json.dados_raw }}" }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase — jornada_alunos"
        }
      }
    }
  ],
  "connections": {
    "Pagtrust — Webhook": {
      "main": [
        [{ "node": "Normalizar Campos", "type": "main", "index": 0 }]
      ]
    },
    "Normalizar Campos": {
      "main": [
        [{ "node": "Supabase — Create Aluno", "type": "main", "index": 0 }]
      ]
    },
    "Supabase — Create Aluno": {
      "main": [
        [{ "node": "Aluno Criado?", "type": "main", "index": 0 }]
      ]
    },
    "Aluno Criado?": {
      "main": [
        [{ "node": "Merge — Aluno", "type": "main", "index": 0 }],
        [{ "node": "Supabase — Buscar Aluno", "type": "main", "index": 0 }]
      ]
    },
    "Supabase — Buscar Aluno": {
      "main": [
        [{ "node": "Merge — Aluno", "type": "main", "index": 1 }]
      ]
    },
    "Merge — Aluno": {
      "main": [
        [{ "node": "Supabase — Create Transação", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
