n8n/workflows/01-entrada-webhook-receiver.json
{
  "name": "01 — Entrada: Webhook Receiver (Pagtrust)",
  "active": false,
  "nodes": [
    {
      "id": "w1-node-001",
      "name": "Pagtrust — Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "pagtrust-entrada-001",
      "parameters": {
        "httpMethod": "POST",
        "path": "pagtrust",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "w1-node-002",
      "name": "Normalizar Campos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "nome",
              "type": "stringValue",
              "stringValue": "={{ $json.body.data.buyer.name }}"
            },
            {
              "name": "whatsapp",
              "type": "stringValue",
              "stringValue": "={{ $json.body.data.buyer.checkout_phone.toString().replace(/\\D/g, '') }}"
            },
            {
              "name": "email",
              "type": "stringValue",
              "stringValue": "={{ $json.body.data.buyer.email }}"
            },
            {
              "name": "order_id",
              "type": "stringValue",
              "stringValue": "={{ $json.body.data.purchase.transaction }}"
            },
            {
              "name": "valor",
              "type": "numberValue",
              "numberValue": "={{ $json.body.data.purchase.full_price.value }}"
            },
            {
              "name": "status",
              "type": "stringValue",
              "stringValue": "={{ $json.body.data.purchase.status }}"
            },
            {
              "name": "event",
              "type": "stringValue",
              "stringValue": "={{ $json.body.event }}"
            },
            {
              "name": "produto",
              "type": "stringValue",
              "stringValue": "={{ $json.body.data.product.name }}"
            },
            {
              "name": "dados_raw",
              "type": "objectValue",
              "objectValue": "={{ $json.body }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "w1-node-003",
      "name": "Supabase — Upsert Aluno",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 300],
      "parameters": {
        "operation": "createOrUpdate",
        "tableId": "alunos",
        "conflictColumns": "whatsapp",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "nome",      "fieldValue": "={{ $json.nome }}" },
            { "fieldId": "whatsapp",  "fieldValue": "={{ $json.whatsapp }}" },
            { "fieldId": "email",     "fieldValue": "={{ $json.email }}" }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase — jornada_alunos"
        }
      }
    },
    {
      "id": "w1-node-004",
      "name": "Supabase — Insert Transação",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [900, 300],
      "parameters": {
        "operation": "createOrUpdate",
        "tableId": "transacoes",
        "conflictColumns": "order_id",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "order_id",  "fieldValue": "={{ $('Normalizar Campos').item.json.order_id }}" },
            { "fieldId": "aluno_id",  "fieldValue": "={{ $json.id }}" },
            { "fieldId": "valor",     "fieldValue": "={{ $('Normalizar Campos').item.json.valor }}" },
            { "fieldId": "status",    "fieldValue": "={{ $('Normalizar Campos').item.json.status }}" },
            { "fieldId": "dados_raw", "fieldValue": "={{ $('Normalizar Campos').item.json.dados_raw }}" }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase — jornada_alunos"
        }
      }
    },
    {
      "id": "w1-note-001",
      "name": "Nota — Variáveis",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 80],
      "parameters": {
        "content": "## Fluxo 01 — Webhook Receiver\n\n**Credencial necessária:**\n- Supabase credential (URL + Service Role Key)\n\n**Configurar em:** Settings → Credentials → Add → Supabase\n\n**URL do webhook gerado:**\nhttps://[seu-n8n]/webhook/pagtrust",
        "height": 180,
        "width": 660
      }
    }
  ],
  "connections": {
    "Pagtrust — Webhook": {
      "main": [
        [{ "node": "Normalizar Campos", "type": "main", "index": 0 }]
      ]
    },
    "Normalizar Campos": {
      "main": [
        [{ "node": "Supabase — Upsert Aluno", "type": "main", "index": 0 }]
      ]
    },
    "Supabase — Upsert Aluno": {
      "main": [
        [{ "node": "Supabase — Insert Transação", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
