n8n/workflows/03-acompanhamento-tutor.json
{
  "name": "03 — Acompanhamento: Tutor IA (Retenção)",
  "active": false,
  "nodes": [
    {
      "id": "w3-note-001",
      "name": "Nota — Configuração",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 60],
      "parameters": {
        "content": "## Fluxo 03 — Tutor IA\n\n**Variáveis de ambiente necessárias (n8n Settings → Variables):**\n- `DIFY_BASE_URL` — ex: https://dify.seudominio.com/v1\n- `DIFY_API_KEY_TUTOR` — API Key do App Tutor no Dify\n- `ZAPI_INSTANCE_ID` — ID da instância Z-API\n- `ZAPI_TOKEN` — Token da instância Z-API\n- `ZAPI_CLIENT_TOKEN` — Client-Token da conta Z-API\n- `OPERADOR_WHATSAPP` — Seu WhatsApp pessoal (com DDI)\n- `TUTOR_DIAS_SEM_ACESSO` — Mínimo de dias sem acesso para disparar (padrão: 7)\n\n**Credencial necessária:** Supabase — jornada_alunos\n\n**Gatilho:** Cron — toda segunda-feira às 09:00\n\n**Fonte dos alunos:** view `v_alunos_tutor_acompanhamento` (status iniciante/em_andamento/quase_concluindo)",
        "height": 240,
        "width": 1500
      }
    },
    {
      "id": "w3-node-001",
      "name": "Cron — Segunda 09h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 400],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [1],
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      }
    },
    {
      "id": "w3-node-002",
      "name": "Supabase — Alunos Ausentes",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 400],
      "parameters": {
        "operation": "getAll",
        "tableId": "v_alunos_tutor_acompanhamento",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "dias_sem_acesso",
              "condition": "gte",
              "keyValue": "={{ $env.TUTOR_DIAS_SEM_ACESSO ?? 7 }}"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase — jornada_alunos"
        }
      }
    },
    {
      "id": "w3-node-003",
      "name": "Loop por Aluno",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 400],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "w3-node-004",
      "name": "Dify — Tutor IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DIFY_BASE_URL }}/chat-messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.DIFY_API_KEY_TUTOR }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ inputs: { nome: $json.nome, whatsapp: $json.whatsapp, status_aluno: $json.status_aluno, produtos: $json.produtos, menor_progresso: $json.menor_progresso.toString(), ultimo_acesso: $json.ultimo_acesso ?? 'nunca', dias_sem_acesso: $json.dias_sem_acesso.toString() }, query: 'Gere uma mensagem motivacional de reengajamento para este aluno que está ausente há ' + $json.dias_sem_acesso + ' dias.', response_mode: 'blocking', conversation_id: '', user: $json.whatsapp }) }}",
        "options": {
          "failOnStatusCode": false
        }
      }
    },
    {
      "id": "w3-node-005",
      "name": "Dify respondeu?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 400],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-dify-answer",
              "leftValue": "={{ $json.answer }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "w3-node-006",
      "name": "Z-API — Enviar Aluno",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 280],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "=https://api.z-api.io/instances/{{ $env.ZAPI_INSTANCE_ID }}/token/{{ $env.ZAPI_TOKEN }}/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Client-Token",  "value": "={{ $env.ZAPI_CLIENT_TOKEN }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: '55' + $('Loop por Aluno').item.json.whatsapp, message: $('Dify — Tutor IA').item.json.answer }) }}",
        "options": {
          "failOnStatusCode": false
        }
      }
    },
    {
      "id": "w3-node-007",
      "name": "Z-API — Erro Dify (notificar)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 520],
      "parameters": {
        "method": "POST",
        "url": "=https://api.z-api.io/instances/{{ $env.ZAPI_INSTANCE_ID }}/token/{{ $env.ZAPI_TOKEN }}/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Client-Token",  "value": "={{ $env.ZAPI_CLIENT_TOKEN }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $env.OPERADOR_WHATSAPP, message: '⚠️ Erro no Fluxo Tutor: o Dify não retornou resposta.\\nAluno: ' + $('Loop por Aluno').item.json.nome + ' (' + $('Loop por Aluno').item.json.whatsapp + ')\\nResposta Dify: ' + JSON.stringify($('Dify — Tutor IA').item.json) }) }}",
        "options": {}
      }
    },
    {
      "id": "w3-node-008",
      "name": "Z-API enviou?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 280],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-zapi-ok",
              "leftValue": "={{ $json.zaapId ?? $json.messageId }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "w3-node-009",
      "name": "Supabase — Update Tutor",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1780, 160],
      "parameters": {
        "operation": "update",
        "tableId": "alunos",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp",
              "condition": "eq",
              "keyValue": "={{ $('Loop por Aluno').item.json.whatsapp }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "ultimo_contato_tutor",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase — jornada_alunos"
        }
      }
    },
    {
      "id": "w3-node-011",
      "name": "Supabase — Create Historico",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2000, 160],
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "create",
        "tableId": "historico_contatos",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "aluno_id",         "fieldValue": "={{ $('Loop por Aluno').item.json.id }}" },
            { "fieldId": "tipo",             "fieldValue": "tutor" },
            { "fieldId": "mensagem_enviada", "fieldValue": "={{ $('Dify — Tutor IA').item.json.answer }}" }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase — jornada_alunos"
        }
      }
    },
    {
      "id": "w3-node-010",
      "name": "Z-API — Erro Z-API (notificar)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 380],
      "parameters": {
        "method": "POST",
        "url": "=https://api.z-api.io/instances/{{ $env.ZAPI_INSTANCE_ID }}/token/{{ $env.ZAPI_TOKEN }}/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Client-Token",  "value": "={{ $env.ZAPI_CLIENT_TOKEN }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $env.OPERADOR_WHATSAPP, message: '⚠️ Erro no Fluxo Tutor: a Z-API não confirmou envio.\\nAluno: ' + $('Loop por Aluno').item.json.nome + ' (' + $('Loop por Aluno').item.json.whatsapp + ')\\nResposta Z-API: ' + JSON.stringify($('Z-API — Enviar Aluno').item.json) }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Cron — Segunda 09h": {
      "main": [
        [{ "node": "Supabase — Alunos Ausentes", "type": "main", "index": 0 }]
      ]
    },
    "Supabase — Alunos Ausentes": {
      "main": [
        [{ "node": "Loop por Aluno", "type": "main", "index": 0 }]
      ]
    },
    "Loop por Aluno": {
      "main": [
        [{ "node": "Dify — Tutor IA", "type": "main", "index": 0 }],
        []
      ]
    },
    "Dify — Tutor IA": {
      "main": [
        [{ "node": "Dify respondeu?", "type": "main", "index": 0 }]
      ]
    },
    "Dify respondeu?": {
      "main": [
        [{ "node": "Z-API — Enviar Aluno",         "type": "main", "index": 0 }],
        [{ "node": "Z-API — Erro Dify (notificar)", "type": "main", "index": 0 }]
      ]
    },
    "Z-API — Enviar Aluno": {
      "main": [
        [{ "node": "Z-API enviou?", "type": "main", "index": 0 }]
      ]
    },
    "Z-API enviou?": {
      "main": [
        [{ "node": "Supabase — Update Tutor",        "type": "main", "index": 0 }],
        [{ "node": "Z-API — Erro Z-API (notificar)", "type": "main", "index": 0 }]
      ]
    },
    "Supabase — Update Tutor": {
      "main": [
        [{ "node": "Supabase — Create Historico", "type": "main", "index": 0 }]
      ]
    },
    "Supabase — Create Historico": {
      "main": [
        [{ "node": "Loop por Aluno", "type": "main", "index": 0 }]
      ]
    },
    "Z-API — Erro Z-API (notificar)": {
      "main": [
        [{ "node": "Loop por Aluno", "type": "main", "index": 0 }]
      ]
    },
    "Z-API — Erro Dify (notificar)": {
      "main": [
        [{ "node": "Loop por Aluno", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
