n8n/workflows/05-upsell-concluidos.json
{
  "name": "05 — Upsell: Pós-Conclusão",
  "active": false,
  "nodes": [
    {
      "id": "w5-note-001",
      "name": "Nota — Configuração",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 60],
      "parameters": {
        "content": "## Fluxo 05 — Upsell Pós-Conclusão\n\n**Variáveis de ambiente necessárias (n8n Settings → Variables):**\n- `DIFY_BASE_URL` — ex: https://dify.seudominio.com/v1\n- `DIFY_API_KEY_SDR` — API Key do App SDR no Dify\n- `ZAPI_INSTANCE_ID` — ID da instância Z-API\n- `ZAPI_TOKEN` — Token da instância Z-API\n- `ZAPI_CLIENT_TOKEN` — Client-Token da conta Z-API\n- `OPERADOR_WHATSAPP` — Seu WhatsApp pessoal (com DDI)\n\n**Credencial necessária:** Supabase — jornada_alunos\n\n**Gatilho:** POST /webhook/upsell-trigger — ativar manualmente antes de lançamentos\n\n**Lógica:** Busca até 30 alunos que concluíram pelo menos 1 curso (v_alunos_upsell)\ne envia mensagem de parabéns com oferta exclusiva via Dify SDR IA.",
        "height": 220,
        "width": 1400
      }
    },
    {
      "id": "w5-node-001",
      "name": "Upsell — Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 380],
      "webhookId": "upsell-trigger-001",
      "parameters": {
        "httpMethod": "POST",
        "path": "upsell-trigger",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "w5-node-002",
      "name": "Supabase — Buscar Upsell",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 380],
      "parameters": {
        "operation": "getAll",
        "tableId": "v_alunos_upsell",
        "returnAll": false,
        "limit": 30
      },
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase — jornada_alunos"
        }
      }
    },
    {
      "id": "w5-node-003",
      "name": "Loop por Aluno",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 380],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "w5-node-004",
      "name": "Dify — SDR IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 380],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DIFY_BASE_URL }}/chat-messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.DIFY_API_KEY_SDR }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ inputs: { nome_cliente: $json.nome, cursos_concluidos: $json.cursos_concluidos, total_concluidos: $json.total_concluidos.toString() }, query: 'A aluna concluiu o curso. Gere uma mensagem de parabéns e apresente uma oferta exclusiva para o próximo nível de evolução profissional.', response_mode: 'blocking', conversation_id: '', user: $json.whatsapp }) }}",
        "options": {
          "failOnStatusCode": false
        }
      }
    },
    {
      "id": "w5-node-005",
      "name": "Dify respondeu?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 380],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-dify-answer",
              "leftValue": "={{ $json.answer }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "w5-node-006",
      "name": "Z-API — Enviar Aluno",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 260],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "=https://api.z-api.io/instances/{{ $env.ZAPI_INSTANCE_ID }}/token/{{ $env.ZAPI_TOKEN }}/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Client-Token",  "value": "={{ $env.ZAPI_CLIENT_TOKEN }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: '55' + $('Loop por Aluno').item.json.whatsapp, message: $('Dify — SDR IA').item.json.answer }) }}",
        "options": {
          "failOnStatusCode": false
        }
      }
    },
    {
      "id": "w5-node-007",
      "name": "Z-API — Erro Dify (notificar)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 500],
      "parameters": {
        "method": "POST",
        "url": "=https://api.z-api.io/instances/{{ $env.ZAPI_INSTANCE_ID }}/token/{{ $env.ZAPI_TOKEN }}/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Client-Token",  "value": "={{ $env.ZAPI_CLIENT_TOKEN }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $env.OPERADOR_WHATSAPP, message: '⚠️ Erro no Fluxo Upsell: o Dify não retornou resposta.\\nAluno: ' + $('Loop por Aluno').item.json.nome + ' (' + $('Loop por Aluno').item.json.whatsapp + ')\\nResposta Dify: ' + JSON.stringify($('Dify — SDR IA').item.json) }) }}",
        "options": {}
      }
    },
    {
      "id": "w5-node-008",
      "name": "Supabase — Update SDR",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1560, 260],
      "parameters": {
        "operation": "update",
        "tableId": "alunos",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp",
              "condition": "eq",
              "keyValue": "={{ $('Loop por Aluno').item.json.whatsapp }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "ultimo_contato_sdr",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase — jornada_alunos"
        }
      }
    }
  ],
  "connections": {
    "Upsell — Webhook": {
      "main": [
        [{ "node": "Supabase — Buscar Upsell", "type": "main", "index": 0 }]
      ]
    },
    "Supabase — Buscar Upsell": {
      "main": [
        [{ "node": "Loop por Aluno", "type": "main", "index": 0 }]
      ]
    },
    "Loop por Aluno": {
      "main": [
        [{ "node": "Dify — SDR IA", "type": "main", "index": 0 }],
        []
      ]
    },
    "Dify — SDR IA": {
      "main": [
        [{ "node": "Dify respondeu?", "type": "main", "index": 0 }]
      ]
    },
    "Dify respondeu?": {
      "main": [
        [{ "node": "Z-API — Enviar Aluno",         "type": "main", "index": 0 }],
        [{ "node": "Z-API — Erro Dify (notificar)", "type": "main", "index": 0 }]
      ]
    },
    "Z-API — Enviar Aluno": {
      "main": [
        [{ "node": "Supabase — Update SDR", "type": "main", "index": 0 }]
      ]
    },
    "Supabase — Update SDR": {
      "main": [
        [{ "node": "Loop por Aluno", "type": "main", "index": 0 }]
      ]
    },
    "Z-API — Erro Dify (notificar)": {
      "main": [
        [{ "node": "Loop por Aluno", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
